.todoItemContainer {
  width: 100%;
  border: 1px solid var(--border);
  border-radius: 4px;
  background-color: var(--card-background);
  overflow: hidden;
}

.todoItemHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  color: var(--text-primary);
  cursor: pointer;
  user-select: none;
  background-color: var(--background);
  transition: background-color 0.3s ease;
}

.todoItemHeader:hover {
  border-left: 5px solid var(--secondary-light);
}
.todoItemHeader.active {
  border-left: 5px solid var(--secondary-dark);
}
.todoItemHeader.active:hover {
  border-left: 5px solid var(--secondary);
}

.todoTitle {
  font-size: 0.9rem;
}
@media (min-width: 768px) {
  .todoTitle {
    font-size: 1rem;
  }
}
.todoCompleted {
  text-decoration: line-through;
  color: var(--text-secondary);
}
.todoActionsIcons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
}

.icon {
  display: flex;
  align-items: center;
  font-size: 1rem;
  color: var(--text-secondary);
  cursor: pointer;
  transition: color 0.3s ease;
  padding: 4px;
}

@media (min-width: 768px) {
  .icon {
    font-size: 1.2rem;
  }
}

.icon:hover {
  color: var(--primary);
}

.icon.delete:hover {
  color: var(--error);
}

.todoItemDetails {
  font-size: 0.8rem;
  color: var(--text-secondary);
  padding: 0 15px;
  line-height: 1.5;
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition: max-height 0.3s ease, opacity 0.3s ease, padding 0.3s ease;
}
@media (min-width: 768px) {
  .todoItemDetails {
    font-size: 0.9rem;
  }
}
.todoItemDetails.show {
  max-height: 500px;
  opacity: 1;
  padding: 10px 15px;
}
